<div class="flex justify-center">
    <div class="container w-8/12 lg:w-full">
        <h2  style="text-align: center;">careNcure Credit</h2>
        <h5  style="text-align: center;">A QUICK AND CONVENIENT WAY TO PAY AND REFUND</h5>
        <div class="balance-label" style="text-align: center;">
            Total Available Balance:
            <div style="margin-top: 10px;">
                <span class="balance-amount"> &#8377; {{walletAmount}}</span>
    
            </div>
          </div>
          <div class="usage-policy flex flex-col">
            <div>
                Transaction Log:
            </div>
                <div class="flex flex-col gap-2">
                    <div class="shadow-lg w-full p-3 font-normal" *ngFor="let log of transactionLogs">
                        {{ log }}
                    </div>
                </div>
          </div>
    </div>
</div>