<div class="flex justify-center">
    <div class="container w-8/12 lg:w-full">
        <h2  style="text-align: center;">careNcure Credit</h2>
        <h5  style="text-align: center;">A QUICK AND CONVENIENT WAY TO PAY AND REFUND</h5>
        <div class="balance-label" style="text-align: center;">
            Total Available Balance:
            <div style="margin-top: 10px;">
                <span class="balance-amount"> &#8377; {{walletAmount}}</span>
    
            </div>
          </div>
          <div class="usage-policy" style="margin-top: 50px;">
            Please Note:
           
                <ul class="policy-text">
                    <li>This credit can't be cancelled or transffered to another account</li>
                    <li>It can't be withdrawn in the form of cash or transffered to any bank account</li>
                    <li>It will expire after 6 months</li>
                </ul>
            
          </div>
    </div>
</div>