
<div class="container p-10 mt-5">
  <div>
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Filter data" #input>
    </mat-form-field>

    <div class="mat-elevation-z8" >
      <table mat-table [dataSource]="dataSource" matSort>
        
        <ng-container *ngFor="let column of displayedColumns; let last = last" [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column }}</th>
          <td mat-cell class="" *matCellDef="let row">
          
            <ng-container class="lastCol" *ngIf="column === 'Action'">
              <div class="d-flex flex-column align-items-start p-3  gap-2">
                <button mat-raised-button
                *ngIf="isUser || isDoctor"
                [style.background-color]="row.isblock ? 'rgb(2,150,177)' : 'rgb(208,0,0)'"
                style="width: 100px;"
                 
                  (click)="blkUnblk(row._id,row.isblock)">
                  {{ row.isblock ? 'UnBlock' : 'Block' }}
                </button>

                <ng-container *ngIf="isPendingDoc">
                  <div class="d-flex flex-column align-items-start gap-2">
                    <button mat-raised-button style="background-color:rgb(13, 156, 0);width:120px;"
                      [disabled]="row.status === 'Approved'" (click)="approve(row._id)">
                      <b> Approve</b>
                      <mat-icon>done_outline</mat-icon>
                    </button>
                    <button mat-raised-button style="background-color: rgb(205, 0, 0);width: 120px;"
                      [disabled]="row.status === 'Approved' || row.status === 'Rejected' " (click)="reject(row._id)">
                      <b>Reject</b>
                      <mat-icon>clear</mat-icon>
                    </button>
                  </div>
                </ng-container>
              </div>

            </ng-container>
            
            <ng-container *ngIf="column !== 'Action'">{{ row[column] }}</ng-container>
          </td>

        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayedColumns.length">No data matching the filter "{{input.value}}"
          </td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of data"></mat-paginator>
    </div>
  </div>
</div>