<div class="w-full flex justify-center" *ngIf="!spinner">
  
<div class="d-flex mt-10 justify-content-center flex justify-center align-items-center container">
  <div class="row d-flex justify-content-center align-items-center form-cont ">
    <h2 >FORGOT PASSWORD</h2>
    <form class="flex flex-col gap-2" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="mb-3" appearance="fill">
        <mat-label> Enter Email</mat-label>
        <input matInput type="email" formControlName="email">
        <mat-error *ngIf="forgotPasswordForm.get('email')?.invalid && (forgotPasswordForm.get('email')?.dirty || forgotPasswordForm.get('email')?.touched)">
          <ng-container *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">Email Required</ng-container>
          <ng-container *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">Invalid email address</ng-container>
        </mat-error>
      </mat-form-field>

  <button mat-raised-button style="background-color:rgb(19,190,240);" type="submit">Send Reset Link</button>
    </form>
  </div>
  <div *ngIf="errorMessages" class="custom-error-message">
    {{errorMessages}}
  </div>
</div>

</div>

<div *ngIf="spinner" class="flex justify-center w-full p-14">
  <mat-spinner></mat-spinner>
</div>