<div class="flex justify-center flex-col p-16 items-center">
          <div class="row g-0 rounded-lg flex w-6/12" style="background-color: #f4f5f7;">
            <!-- left -->
            <div class="col-md-4 gradient-custom text-center text-white flex flex-col p-4"
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
              <img [src]="data && data.profilePic" alt="Avatar" class="img-fluid my-5"
                style="width: 200px; border-radius: 70px;" />
              <!-- <h5>Marie Horwitz</h5> -->
              <p>DR.{{data && data.fullName}}</p>
              <p>Regn.No: {{data && data.RegnNumber}}</p>
            </div>
            <!-- right -->
            <div class="col-md-8 p-20 w-full">
                <div>
                  <div class="text-base font-medium">Your Information</div>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1 flex gap-20">
                    <div class="col-6 mb-3">
                      <div class="text-base font-medium">Email</div>
                      <p class="text-muted text-xs">{{data && data.email}}</p>
                    </div>
                    <div class="col-6 mb-3">
                      <div class="text-base font-medium">Phone</div>
                      <p class="text-muted text-xs">{{data && data.mobile_num}}</p>
                    </div>
                  </div>
                  <div class="row pt-1 flex gap-20">
                    <div class="col-6 mb-3">
                      <div class="text-base font-medium">Specialization</div>
                      <p class="text-muted text-xs">{{data && data?.specialization}}</p>
                    </div>
                    <div class="col-6 mb-3">
                      <div class="text-base font-medium">Fees</div>
                      <p class="text-muted text-xs">{{data && data?.fee}}</p>
                    </div>
                  </div>
                </div>


                <div *ngIf="data && data.education && data.education[0]">
                  <div class="text-base font-medium">Education</div>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1 flex gap-20">
                    <div class="col-4 mb-3">
                      <div class="text-base font-medium">Degree</div>
                      <p class="text-muted text-xs">{{data && data.education[0]?.degree}}</p>
                    </div>
                    <div class="col-4 mb-3">
                      <div class="text-base font-medium">College</div>
                      <p class="text-muted text-xs">{{data && data.education[0]?.college}}</p>
                    </div>
                    <div class="col-4 mb-3">
                      <div class="text-base font-medium">Year</div>
                      <p class="text-muted text-xs">{{data && data.education[0]?.graduation_year}}</p>
                    </div>

                  </div>
                </div>
                <div>
                  <div *ngIf="data && data.experience " >
                    <div class="text-base font-medium">Experience</div>
                    <hr class="mt-0 mb-4">
                    <div class="row pt-1 flex gap-20" >
                      <div class="col-6 mb-3">
                        <div class="text-base font-medium">Hospital</div>
                        <p class="text-muted text-xs">{{data && data.experience[0]?.hospital}}</p>
                      </div>
                      <div class="col-6 mb-3">
                        <div class="text-base font-medium">Term</div>
                        <p class="text-muted text-xs">{{data && data.experience[0]?.term}}</p>
                      </div>
  
  
                    </div>
                  </div>
                  <div *ngIf="data && data.description">
                    <div class="text-base font-medium">Description</div>
                    <hr class="mt-0 mb-4">
                    <div class="row pt-1 flex gap-20">
                      <div class="col-12 mb-3 ">
  
                        <p class="text-muted text-xs justified-text">{{data.description}}</p>
                      </div>
  
  
                    </div>
                  </div>
  
                  <div class="d-flex justify-content-start">
                    <button mat-stroked-button class="gradBlue text-white" (click)="opendocDialog()">Edit Profile</button>
                    <!-- <app-profile-edit></app-profile-edit> -->
                  </div>
                </div>
            </div>
          </div>
</div>