<div class="px-6">
  <div class="flex items-center p-3 mt-2 availableContainer">
    <div class="m-0 text-xl font-medium">{{docCount}} Doctors available in {{deptName}}</div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-2">
    <div class="doc-div" *ngFor="let doctor of doctorsList">
      <mat-card class="example-card gap-2 w-full">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Dr.{{doctor.fullName}}</mat-card-title>
            <mat-card-subtitle>{{doctor.education[0].degree}}</mat-card-subtitle>
            <img mat-card-lg-image [src]="doctor.profilePic">
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          {{doctor.description}}
          <h3>Fees: {{doctor.fee}}</h3>
        </mat-card-content>
      </mat-card>
      <button mat-raised-button class="mt-2 lg:mt-1 w-full" color="primary" (click)="onClick(doctor)">Book Now</button>
    </div>
  </div>

</div>