/* .doctors-list {
    display: flex;
    flex-wrap: wrap;
    margin: 20px; 
    padding: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #ccc;
    border-radius: 5px;
  
  }
  
  .doctor-card {
    margin: 10px;
    max-width: 300px;
    flex: 1; 
  }
  
  .example-card {
    max-width: 400px;
    margin-bottom: 8px;
    flex: 1; 
  }
  */
  .container{
     margin: 20px; 
    padding: 50px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #ccc;
    border-radius: 5px;

  }
  .gridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr
  }
  .availableContainer{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }
  .date-navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
   /* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   }

   body{
    background-color: #151320; 
     height: 100vh; 
    display: grid;
    place-items: center center;
    font-family: 'Poppins',sans-serif;
   }

   .cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,
    minmax(400px,1fr));
    padding: 20px;
    grid-gap:40px;
   }
   .card{
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
   }
   img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
   }
   .container{
    position: relative;
    clip-path: polygon(0 0,100% 0,100% 85%, 0 100%);
   }
   .container:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.3;
   }
   .card1>.container:after{
    background-image: linear-gradient(
      135deg,
      #2bdce3,
      #42ffdb
    );
   }

   .details{
    padding: 20px 10px;
   }
   .details>h3{
    color: white;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
   }
   .details>p{
    color: #a0a0a0;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
   } */