<div class="d-flex  justify-content-center align-items-center container">
  <div class="row d-flex justify-content-center align-items-center form-cont ">
    <h2>OTP VERIFICATION</h2>
    <form class="d-flex flex-column" [formGroup]="otpForm" (ngSubmit)="onSubmit()">
      <!-- <mat-form-field class="mb-3" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" [value]="email" formControlName="email">
      </mat-form-field> -->

      <mat-form-field class="mb-3" appearance="fill">
        <mat-label>Enter your OTP</mat-label>
        <input matInput type="text" placeholder="OTP" formControlName="otp">
      </mat-form-field>
      <button mat-raised-button style="background-color:rgb(0,151,178);" type="submit" [disabled]="otpForm.invalid">Verify</button>
      <br>
      <button mat-raised-button color="warn" (click)="resendOTP()" [disabled]="timer>0">
        RESEND OTP {{timer>0? 'in ' + timer + ' seconds': ''}}
      </button>
      
    </form>
  </div>
 
</div>
