

.gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgb(92,176,194), rgb(154,139,181))
    }

    /* Make the section and container full height */
.vh-100 {
    height: 100%;
  }
  
  /* Make the row full height */
  .row.d-flex {
    height: 100%;
  }
  
  /* Make the card full height
  .card.h-100 {
    height: 100%;
  }
   */