/* .content{
    padding-top: 10px;
}

.row{
    display: flex;
    gap: 10px;
    
}
.action{
    padding: 0px 25px 20px;
   
}
button{
    flex:1;
} */

.main {
    overflow: hidden !important;
    overflow-y: hidden !important;
}