<div class="lg:flex lg:flex-col lg:items-center lg:h-screen lg:pt-20" *ngIf="!spinner">
  <div class="p-3 flex flex-col items-center lg:w-8/12 gap-4 lg:flex-row lg:items-center">
    <div class="left mt-10 lg:mt-0 md:w-10/12 lg:w-8/12">
     
     <img style="max-width: 100%;" class="rounded-lg" src="assets/img/user-login.png">
    </div>
    <div class="right mt-16 lg:mt-0 md:w-10/12">
      <mat-card class="login-card flex flex-col gap-2">
        <mat-card-header class="header">
          <mat-card-title style="color: rgb(19, 19, 104);">Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form class="login-form flex flex-col" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
           
            <mat-form-field appearance="fill">
              <mat-label class="ema">Email</mat-label>
              <input matInput placeholder="Enter your email" required
              formControlName="email">
              <mat-error *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
                <ng-container *ngIf="loginForm.get('email')?.errors?.['required']">Email Required</ng-container>
                <ng-container *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email address</ng-container>
  
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label style="border-right: none !important;">Password</mat-label>
              <input matInput type="password" placeholder="Password" required formControlName="password">
              <mat-error *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
                <ng-container *ngIf="loginForm.get('password')?.errors?.['required']">Password required</ng-container>
                <ng-container  *ngIf="loginForm.get('password')?.errors?.['minlength']">Invalid Password</ng-container>
              </mat-error>         
             </mat-form-field>
        
            <button mat-raised-button style="background-color:rgb(0,151,178);" type="submit">Login</button>
            <div class="forgot-link flex justify-between mt-1">
            <a class="link login-here" routerLink="/user-signup">New Member?Register Here</a>
            <a class="link login-here" style="color: rgb(19,190,240);" routerLink="/user-forget-password" *ngIf="!isDoctor">Forgot Password</a>
            <a class="link login-here" style="color: rgb(19,190,240);" routerLink="/doctor-forget-password" *ngIf="isDoctor">Forgot Password</a>
  
          </div>
          </form>
        </mat-card-content>
      </mat-card>
  
       <!-- error messages -->
       <div *ngIf="errorMessages" class="custom-error-message">
        {{errorMessages}}
      </div>
      
    </div>
  </div>
  
</div>

<div *ngIf="spinner" class="flex justify-center w-full p-14">
  <mat-spinner></mat-spinner>
</div>
