/* .container{
  display:flex ;
  margin:60px;
  justify-content: center;
  align-items: flex-start;
  
}
.left{
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
} 
.left img {
  width: 370px;
  height: 370px;
  object-fit: cover;
}
.right{
  flex: 1;
  padding: 20px;
}
.login-card {
  width: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  margin-bottom: 15px;
}

button {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left,
  .right {
    padding: 10px;
  }
  .left img{
    width: 200px;
    height: 200px;
  }
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.link{
  text-decoration: none;
  color: rgb(2, 15, 87)
}
.login-here{
  margin-top: 10px;
  padding: 10px;
}
  
.forgot-link{
  display: flex;
  justify-content: space-between;
}

.custom-error-message {
  background-color: #ffdddd;
  border: 1px solid #f44336;
  color: #f44336;
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
} */


/*  Style to fix the weird border with angular material */
/* .mdc-notched-outline__notch {
  border-right: none !important;
} */

/* .mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field .mdc-notched-outline__notch {
  border-right-style: hidden;
}
.mat-mdc-input-element {
  box-shadow: none !important; */

/* .mat-mdc-form-field-infix {
  border-right-style: hidden !important;
} */
/* .mdc-notched-outline__notch{
  border: none !important;

} */
/* .mdc-notched-outline__notch div{
  border-right: none !important;
} */

/* .mat-form-field {
  border-right: none !important;
} */

/* YourComponent.styles.css */
.mat-form-field .mat-input-element {
  border-right: none !important;
}
.ema{
  border: none !important;

}