<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Find Doctors</a>
      <a mat-list-item href="#">Video Consult</a>
      <button *ngIf="!(userName || doctorName || adminName) " mat-raised-button class="desktop-button" routerLink="/user-signup">Login/Register</button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
  <div class="container-fluid  p-0">
    <div class="row-fluid">
      <mat-toolbar class="" color="primary">
        <button style="color: black;"
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <div class="row-fluid d-flex justify-content-center ">
          <div class="col-10">
            <span class="logo-container img-fluid "><img src="assets/img/cnc6.png" routerLink="/home" class="logo"></span>
          </div>
        </div>
        <ng-container *ngIf="!(isHandset$ | async)">
          <a *ngIf="isUserLoggedin" routerLink="/search-speciality" class="desktop-link">Find Doctors</a>
          <a *ngIf="isUserLoggedin" href="#" class="desktop-link">Video Consult</a>
          <a *ngIf="isDoctorLoggedIn" routerLink="/schedule-slot" class="desktop-link" >Schedule Slots</a>
          <!-- <a *ngIf="isDoctorLoggedIn" href="#" [ngClass]="{'disabledLink': !isApproved}" class="desktop-link">View Prescriptions</a> -->
          <a *ngIf="isAdminLoggedin" routerLink="/userList" class="desktop-link"> View Users</a>
          <div>
            <a *ngIf="isAdminLoggedin"  class="desktop-link" [matMenuTriggerFor]="menu">View Doctors</a>
            <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink="/docList">
                <mat-icon>check_circle</mat-icon>
                <span>Approved Doctors</span>
              </button>
              <button mat-menu-item routerLink="/pending-doc-list">
                <mat-icon>donut_small</mat-icon>
                <span>Pending Doctors</span>
              </button>
             
            </mat-menu>
          </div>




          <span class="spacer"></span>
          <ng-container  *ngIf="userName">
          <div>
            <button mat-button color="primary" [matMenuTriggerFor]="menu">{{userName}}</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink="user-profile">
                <mat-icon>account_circle</mat-icon>
                <span>Profile</span>
              </button>
              
              <button mat-menu-item routerLink="user-appointment">
                <mat-icon>assignment</mat-icon>
                My Bookings</button>
                <button mat-menu-item (click)="dialogOpen()">
                  <mat-icon> money</mat-icon>
                  Wallet</button>
                <button mat-menu-item (click)="logout()">
                  <mat-icon>power_settings_new</mat-icon>
                  <span>Logout</span>
                </button>
             
            </mat-menu>
            
            </div>
          </ng-container>
          <ng-container  *ngIf="doctorName">
            <div>
              <button mat-button color="primary" [matMenuTriggerFor]="menu">DR.{{doctorName}}</button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="doctor-home">
                  <mat-icon>dashboard</mat-icon>
                    <span>Dashboard</span>
                </button>
                <button mat-menu-item routerLink="doctor-profile">
                  <mat-icon>account_circle</mat-icon>
                  <span>Profile</span>
                </button>
                <button mat-menu-item routerLink="doctor-appointemnts">
                  <mat-icon>assignment</mat-icon>
                  Appointments</button>
                  <button mat-menu-item (click)="doctorDialog()">
                    <mat-icon> money</mat-icon>
                    Wallet</button>
                <button mat-menu-item (click)="doctorlogout()">
                  <mat-icon>power_settings_new</mat-icon>
                  <span>Logout</span>
                </button>
               
              </mat-menu>
              
              </div>
            </ng-container>
            <ng-container  *ngIf="adminName">
              <div>
                <button mat-button color="primary" [matMenuTriggerFor]="menu">{{adminName}}</button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item routerLink="admin-dashboard">
                    <mat-icon>dashboard</mat-icon>
                      <span>Dashboard</span>
                  </button>
                  <button mat-menu-item>
                    <mat-icon>account_circle</mat-icon>
                    <span>Profile</span>
                  </button>
                  <button mat-menu-item (click)="adminlogout()">
                    <mat-icon>power_settings_new</mat-icon>
                    <span>Logout</span>
                  </button>
                 
                </mat-menu>
                
                </div>
              </ng-container>
            <button *ngIf="!(userName || doctorName || adminName) " mat-raised-button class="desktop-button" routerLink="/user-signup">Login/Register</button>
  
         
        </ng-container>
      
      </mat-toolbar>
    </div>
   
  </div>
    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
