/* .container{
  height: 80vh;
  margin-top: 50px
 }
 mat-form-field {
  width: 100%;
 }
 .signupImg{
  border-radius: 10px;
 }*/
 .custom-error-message {
  background-color: #ffdddd;
  border: 1px solid #f44336;
  color: #f44336;
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
} 
