<div class="">

  <div class="container d-flex align-items-center justify-content-center p-2">
    <div class="row d-flex justify-content-center signUpArea">
      <div class="row d-flex flex flex-col items-center lg:flex-row lg:justify-center w-full">
        <div class="left col p-2 w-11/12 lg:w-4/12 lg:flex lg:justify-end rounded-lg mg-10">
          <div class="lg:w-10/12">
          <img class="img-fluid signupImg rounded-lg" src="assets/img/registration (2).png">

          </div>
        </div>
        <mat-card class="registration-card bg-red-300 w-11/12 lg:w-4/12">
          <span class="d-flex justify-content-between align-items-end flex justify-between p-3 ">
            <p class="m-0 p-0 fs-5 " style="color: rgb(19, 19, 104);" *ngIf="!isDoctor">User Register</p>
            <p class="m-0 p-0 fs-5 " style="color: rgb(19, 19, 104);" *ngIf="isDoctor">Doctor Register</p>

            <a href="#"  class="text-blue-500" routerLink="/doctor-signup" *ngIf="!isDoctor">Are you a doctor?</a>
            <a href="#" class="text-blue-500" routerLink="/user-signup" *ngIf="isDoctor">Not a doctor?</a>

          </span>
          <mat-card-content class=" ">
            <form class="registration-form flex flex-col items-center" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
              <!-- fullname -->
              <mat-form-field class="w-full" appearance="outline">
                <mat-label>FullName</mat-label>
                <input matInput placeholder="Full Name" required [pattern]="namePattern" formControlName="fullName">
                <mat-error
                  *ngIf="signUpForm.get('fullName')?.invalid && (signUpForm.get('fullName')?.dirty || signUpForm.get('fullName')?.touched)">
                  <ng-container *ngIf="signUpForm.get('fullName')?.errors?.['required']">Name cannot
                    empty</ng-container>
                  <ng-container *ngIf="signUpForm.get('fullName')?.errors?.['pattern']">Cannot contain
                    Symbols/Numbers</ng-container>

                </mat-error>
              </mat-form-field>
              <!-- mobile number -->
              <mat-form-field class="w-full" appearance="outline">
                <mat-label>Mobile Number</mat-label>
                <input matInput placeholder="Mobile Number" required name="mobile_num" [pattern]=" phoneRegex"
                  formControlName="mobile_num">
                <mat-error
                  *ngIf="signUpForm.get('mobile_num')?.invalid && (signUpForm.get('mobile_num')?.dirty || signUpForm.get('email')?.touched)">
                  <ng-container *ngIf="signUpForm.get('mobile_num')?.errors?.['required']">Phone Number
                    required</ng-container>
                  <ng-container *ngIf="signUpForm.get('mobile_num')?.errors?.['pattern']">Invalid Phone
                    Number</ng-container>
                </mat-error>
              </mat-form-field>
              <!-- email -->
              <mat-form-field class="w-full" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" required name="email" formControlName="email">
                <mat-error
                  *ngIf="signUpForm.get('email')?.invalid && (signUpForm.get('email')?.dirty || signUpForm.get('email')?.touched)">
                  <ng-container *ngIf="signUpForm.get('email')?.errors?.['required']">Email
                    required</ng-container>
                  <ng-container *ngIf="signUpForm.get('email')?.errors?.['email']">Invalid email
                    address</ng-container>
                </mat-error>
              </mat-form-field>
              <!-- password -->
              <mat-form-field class="w-full" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Password" required name="password"
                  formControlName="password">

                <mat-error
                  *ngIf="signUpForm.get('password')?.invalid && (signUpForm.get('password')?.dirty || signUpForm.get('password')?.touched)">
                  <ng-container *ngIf="signUpForm.get('password')?.errors?.['required']">Password
                    required</ng-container>
                  <ng-container *ngIf="signUpForm.get('password')?.errors?.['minlength']">Password should contain
                    atleast 6 characters</ng-container>
                </mat-error>
              </mat-form-field>
              <!-- confirm password -->
              <mat-form-field class="w-full" appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput type="password" placeholder="Confirm Password" required name="confirmPassword"
                  formControlName="confirmPassword">
                <mat-error
                  *ngIf="signUpForm.get('confirmPassword')?.invalid && (signUpForm.get('confirmPassword')?.dirty || signUpForm.get('confirmPassword')?.touched)">
                  <ng-container *ngIf="signUpForm.get('confirmPassword')?.errors?.['required']">Confirm Password
                    required</ng-container>
                  <ng-container *ngIf="signUpForm.get('confirmPassword')?.errors?.['PasswordMismatch']">Passwords
                    do not match</ng-container>
                </mat-error>

              </mat-form-field>
              <!-- button -->
              <div class="d-flex justify-content-between align-items-end flex flex-col w-full">
                <button mat-raised-button style="background-color:rgb(0,151,178)" type="submit"
                  [disabled]="signUpForm.invalid">SUBMIT</button>
                <a class="doctor-link login-here text-blue-500" [routerLink]="isDoctor?'/doctor-login':'/user-login'">Already
                  have account?Login Here</a>

              </div>
            </form>
          </mat-card-content>
        </mat-card>



        <!-- error messages -->
        <div *ngIf="showerrorMessages" class="custom-error-message">
          {{showerrorMessages}}
        </div>
      </div>
    </div>
    <ngx-spinner type="ball-scale-multiple"></ngx-spinner>
  </div>



</div>