<div class="flex w-full justify-center">
  
<div class="d-flex  justify-content-center flex justify-center w-100 align-items-center container">
  <div class="row d-flex justify-content-center align-items-center form-cont ">
    <h2>RESET PASSWORD</h2>
    <form class="flex flex-col" [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="mb-3" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="passwordResetForm.get('password')?.invalid && (passwordResetForm.get('password')?.dirty || passwordResetForm.get('password')?.touched)">
          <ng-container *ngIf="passwordResetForm.get('password')?.errors?.['required']">Password required</ng-container>
          <ng-container  *ngIf="passwordResetForm.get('password')?.errors?.['minlength']">Password should contain atleast 6 characters</ng-container>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="mb-3" appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" formControlName="confirmPassword">
        <mat-error *ngIf="passwordResetForm.get('confirmPassword')?.invalid && (passwordResetForm.get('confirmPassword')?.dirty || passwordResetForm.get('confirmPassword')?.touched)">
          <ng-container *ngIf="passwordResetForm.get('confirmPassword')?.errors?.['required']">Confirm Password required</ng-container>
          <ng-container *ngIf="passwordResetForm.get('confirmPassword')?.errors?.['PasswordMismatch']">Passwords do not match</ng-container>
        </mat-error>
      </mat-form-field>
      <button mat-raised-button style="background-color:rgb(19,190,240);" type="submit" [disabled]="passwordResetForm.invalid">Update New Password</button>
    </form>
  </div>
  
  
</div>

</div>